.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding-top: 8px;
    
    
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0, 0.4);
    
    line-height: 24px;
    
}

.itemName, .itemLanguage b  {
    margin-right: 8px;
}



.itemLink {
    display: block;
    background-color: var(--corButton) ;
    color: var(--corTextoSecundaria);
    text-decoration: none;
    font-weight: bold;
    margin-top: 4px;
    padding: 2px;
    text-align: center;
}